@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Neue Montreal";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets//fonts/NeueMontreal-Regular.otf") format("otf");
}

:root {
  --font-neue-montreal: "Neue Montreal", sans-serif;
  --font-inter-tight: "Inter Tight", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-xxs: 375px;

  /* Colors */
  /* Base reset */
  --color-*: initial;

  /* Neutrals */
  --color-black: #071210;
  --color-white: #ffffff;

  /* Primary */
  --color-primary-dark: #2F185E;
  --color-primary-darker: #47248C;
  --color-primary-base: #763CEA;
  --color-primary-alpha-16: rgba(120, 77, 239, 0.16);
  --color-primary-alpha-10: rgba(120, 77, 239, 0.1);

  /* Background */
  --color-strong-950: #071210;
  --color-surface-800: #4D5761;
  --color-sub-300: #D2D6DB;
  --color-weak-50: #F3F4F6;

  /* Text */
  --color-sub-600: #6C737F;
  --color-soft-400: #9DA4AE;
  --color-disable-300: #D2D6DB;

  --color-soft-100: #E5E7EB;

  /* Icon */
  --color-icon-strong: #071210;
  --color-icon-sub: #9DA4AE;
  --color-icon-soft: #D2D6DB;
  --color-icon-disabled: #E5E7EB;

  /* Faded */
  --color-faded-dark: #4D5761;
  --color-faded-base: #9DA4AE;
  --color-faded-light: #4D5761;
  --color-faded-lighter: #FCFCFD;

  /* Information */
  --color-information-dark: #122368;
  --color-information-base: #335CFF;
  --color-information-light: #C0D5FF;
  --color-information-lighter: #EBF1FF;

  /* Warning */
  --color-warning-dark: #682F12;
  --color-warning-base: #FF8447;
  --color-warning-light: #FFD5C0;
  --color-warning-lighter: #FFF1EB;

  /* Error */
  --color-error-dark: #681219;
  --color-error-base: #FB3748;
  --color-error-light: #FFC0C5;
  --color-error-lighter: #FFEBEC;

  /* Success */
  --color-success-dark: #0B4627;
  --color-success-base: #1FC16B;
  --color-success-light: #C2F5DA;
  --color-success-lighter: #E0FAEC;

  /* Away */
  --color-away-dark: #624C18;
  --color-away-base: #F6B51E;
  --color-away-light: #FFECC0;
  --color-away-lighter: #FFFAEB;

  /* Feature */
  --color-feature-dark: #110821;
  --color-feature-base: #763CEA;
  --color-feature-light: #C8B1F7;
  --color-feature-lighter: #EFEBFF;

  /* Verified */
  --color-verified-dark: #124B68;
  --color-verified-base: #47C2FF;
  --color-verified-light: #C0EAFF;
  --color-verified-lighter: #EBF8FF;

  /* Highlighted */
  --color-highlighted-dark: #1E0B16;
  --color-highlighted-base: #F757B1;
  --color-highlighted-light: #FCBCE0;
  --color-highlighted-lighter: #FFEBF4;

  /* Stable */
  --color-stable-dark: #0B463E;
  --color-stable-base: #22D3BB;
  --color-stable-light: #C2F5EE;
  --color-stable-lighter: #FCFFFF;

  /* Font Family */
  --font-neue-montreal: var(--font-neue-montreal);
  --font-inter-tight: var(--font-inter-tight);
  --font-inter: var(--font-inter);


  /* Typography */

  --text-h1: 80px;
  --text-h1--line-height: 1;
  --text-h1--letter-spacing: -0.03em;

  --text-h2: 64px;
  --text-h2--line-height: 1.1;
  --text-h2--letter-spacing: -0.02em;

  --text-h3: 48px;
  --text-h3--line-height: 1.1;
  --text-h3--letter-spacing: -0.01em;

  --text-h4: 36px;
  --text-h4--line-height: 1.1;
  --text-h4--letter-spacing: -0.005em;

  --text-h5: 28px;
  --text-h5--line-height: 1.1;
  --text-h5--letter-spacing: 0;

  --text-h6: 24px;
  --text-h6--line-height: 1.2;
  --text-h6--letter-spacing: 0;

  --text-h1-mobile: 62px;
  --text-h1-mobile--line-height: 1.2;
  --text-h1-mobile--letter-spacing: -0.02em;

  --text-h2-mobile: 48px;
  --text-h2-mobile--line-height: 1.1;
  --text-h2-mobile--letter-spacing: -0.01em;

  --text-h3-mobile: 36px;
  --text-h3-mobile--line-height: 1.1;
  --text-h3-mobile--letter-spacing: -0.05em;

  --text-h4-mobile: 32px;
  --text-h4-mobile--line-height: 1.1;
  --text-h4-mobile--letter-spacing: -0.005em;

  --text-h5-mobile: 24px;
  --text-h5-mobile--line-height: 1.1;
  --text-h5-mobile--letter-spacing: 0;

  --text-h6-mobile: 20px;
  --text-h6-mobile--line-height: 1.2;
  --text-h6-mobile--letter-spacing: 0;

  --text-xl: 20px;
  --text-xl--line-height: 1.2;
  --text-xl--letter-spacing: 0;

  --text-lg: 18px;
  --text-lg--line-height: 26px;
  --text-lg--letter-spacing: 0.03em;

  --text-md: 16px;
  --text-md--line-height: 24px;
  --text-md--letter-spacing: 0.03em;

  --text-sm: 14px;
  --text-sm--line-height: 22px;
  --text-sm--letter-spacing: 0.04em;

  --text-xs: 12px;
  --text-xs--line-height: 20px;
  --text-xs--letter-spacing: 0.04em;

  --text-xxs: 10px;
  --text-xxs--line-height: 18px;
  --text-xxs--letter-spacing: 0.04em;
}

@layer base {
  body {
    font-family: var(--font-inter-tight);
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-neue-montreal);
    font-weight: 400;
  }

  h1 {
    @apply text-h1-mobile md:text-h1
  }

  h2 {
    @apply text-h2-mobile md:text-h2
  }

  h3 {
    @apply text-h3-mobile md:text-h3
  }

  h4 {
    @apply text-h4-mobile md:text-h4
  }

  h5 {
    @apply text-h5-mobile md:text-h5
  }

  h6 {
    @apply text-h6-mobile md:text-h6
  }
}
